* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 0.85em;
	font-family: Trebuchet MS;
	background-image: url('../images/bg-body.png');
	background-repeat: repeat-x;
	background-position: top;
}

fieldset {
	padding: 10px;
	border: 1px solid #ccc;
	margin: 6px;
}

fieldset.home {
	background: url("../images/icon_bg-home.png") no-repeat scroll left bottom transparent;
}

fieldset.certificate {
	background: url("../images/icon_bg-certificate.png") no-repeat scroll left bottom transparent;
}

label {
}

div.privacy {
	background: url("../images/icon_bg-privacy.png") no-repeat scroll left bottom transparent;
}

ul li {
	margin-left: 10px;
}

img {
	border: 0;
}

form #buttons, form div.buttons {
	background-color: #4EA1D3;
	margin: 6px 0 0 0;
	padding: 6px;
	text-align: left;
}

form #buttons input, form div.buttons input {
	margin-left: 6px;
}

form div.support {
	text-align: center;
}

form div.support input {
	font-weight: bold;
}

fieldset p {
	background-color: #F8F8F8;
	padding: 4px;
}

#content-login {
	margin-top: 64px;
}

#content-login table.fields textarea {
	width: 28.125em;
	height: 10.625em;
}
 
#content-login table.fields td.small-textarea textarea {
	height: 1.875em;
}
 
#regulation-info {
}

img.captcha {
	border: 1px solid #999;
}

input[type=text], select, textarea {
	min-width: 18.750em;
	border: 1px solid #888;	
}

input[type=button], input[type=submit] {
	padding-left: 5px;
	padding-right: 5px;
}

#page, #errorpage {
	margin: 4px auto;
	width: 800px;
	background-color: #fff;
	border: 1px solid #4EA1D3;
}

#header {
	margin-bottom: 10px;
}

#header-init-title {
	
}

#header-title {
	margin-bottom: 5px;
	font-size: 1em;
}

#menu {
	list-style-type: none;
	background-color: #f5fafc;
	border-top: 1px solid #4ea1d3;
	border-bottom: 1px solid #4ea1d3;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 14px;	

	float:left;
	width:100%;
}

#menu a {
	float: left;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 12px;
	margin: 0 6px 0 6px;
	background-position: left 1px;
	background-repeat: no-repeat;
	width: 150px;
	
}

#menu li {
}

#menu a.first {
	margin-left: 4px;
}

#menu a.last {
	margin-right: 0;
}


#menu a.home {
	background-image: url('../images/icon_home.png');
}

#menu a.conformity {
	background-image: url('../images/icon_certificate.png');
}

#menu a.privacy {
	background-image: url('../images/icon_privacy.png');
}

#menu a.map {
	background-image: url('../images/icon_map.png');
}

#menu li.privacy p {
	float: left;
}

#logo {
	float: left;
	width: 33em;
	background-repeat: no-repeat;
	background-position: left center;
	padding: 4px;
}

#logoimg {
	float: left;
	padding-right: 12px;
}

#lang {
	text-align: right;
	margin-right: 8px;
	padding-top: 14px;
}

#langChange {
	width: 10.625em;
	min-width: 10.625em; 
	display: none;
}

#noscript-lang a {
	font-weight: normal;
	padding: 0 2px 0 2px; 
}

#noscript-lang a.selected {
	font-weight: bold;
	background-color: #f5fafc;
}

#content {
	margin: 14px 0 0 0;
	padding: 5px;
}

#h1 {
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 12px;	
}

#content h1 {
	font-size: 1.10em;
	margin: 0 0 10px;
	padding-left: 4px;
}

#content h2 {
	padding-left: 4px;
	font-size: 1em;
}

#content p {
	margin-bottom: 8px;
}

#content p.support-link {
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding-top: 10px;
	text-align: right;
}

#content form p {
	padding-left: 4px;
}

#footer {
}

#footer a.country-link {
	padding-right: 5px;
}

.error {
	display: inline-block;
	color: #f00;
	margin-left: 6px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 6px center;
	background-image: url('../images/error.png');
	font-weight: normal;
	width: 420px; 
}

#review {
	border: 1px solid #eee;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 14px;
}

#review p {
	margin: 8px 0 8px 50px;
	font-size: 18px;
}

p.box {
	border: 1px solid #eee;
	margin: 4px;
	padding: 4px;
}

#lower-info {
	padding: 4px;
}

.left {
	text-align: left !important;
}

span.required {
	color: #f00;
	padding-left: 4px;
}

#_additional_input {
	margin-top: 4px;
}

#ui-datepicker-div select {
	min-width: 20px;
}

.improvedDropDown {
	min-width: 700px;
}

.clear {
	clear: both;
}

#version {
	text-align: right;
	margin-right: 6px;
	margin-bottom: 4px;
	font-size: 0.85em;
}

#errorpage {
	padding: 12px;
}

#errorpage h1 {
	margin: 0;
	padding: 0 0 0 24px;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url('../images/error.png');
}

#errorpage #content {
	margin: 0;
}

.duplicate #content p {
	margin: 4px 0 4px 4px;
} 

#social {
    text-align: right;
    margin-bottom: 8px;
}
    
div .plusone, .twitter, .fb-like {
    font-size: 1px;
    display: inline-block;
}

div .fb_reset {
    display: inline;
}

p.back {
	float: left;
}

#map {
	width: 748px; 
	height: 572px; 
	margin: 0 auto;
} 

#legend {
	margin: 22px 10px 20px 400px;
	text-align: right;
}

#legend span {
	padding: 0 20px 0 20px;
	margin-left: 10px;
	border: 1px solid #555;
}

#legend span.green {
	background-color: #A1C14C;
}

#legend span.blue {
	background-color: #51A1D1;
}

#legend span.grey {
	background-color: #FF614E;
}

#legend span.rest {
	background-color: #CDB49F;
}

#definition {
	margin: 22px 10px 0;
	float: left;
	width: 350px;
}

div.loading {
	background-image: url('../images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

p.total {
	font-weight: bold;
	margin-bottom: 10px;
}

p.no-refresh {
	background-image: url('../images/warning.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 22px;
	margin-left: 4px;
	line-height: 22px;
}

@media only screen and (max-width: 801px)
{
    #page
    {
        width:auto;
    }
    #menu li
    {
        display:block;
    }
    #lang
    {
        clear:left;
        padding-bottom:8px;
    }
    input[type="text"], select, textarea
    {
        max-width:18.75em;
        min-width:0;
        width:100%;
    }
    textarea
    {
        max-width:350px;
        min-width:0;
        width:100%;
    }
    .improvedDropDown
    {
        max-width:700px;
        min-width:0;
        width:100%;
    }
}